#paypal-form-fields-container-BDZ3WHCYCPK9C .item-header {
 display: none !important;
}

.rect.medium.gold.css-1565878 {
    display: none !important;
}	

#paypal-form-fields-container-BDZ3WHCYCPK9C{
    align-items: center !important;
}

